body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: -7rem;

}

.container {
    background-color: whitesmoke;
    padding: 6px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(119, 119, 119);
    margin-bottom: 200px;
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
}

.btninicial {
    font-family: 'Montserrat';
    margin-top: 45px;
    position: relative;
    border-radius: 60px;
    box-shadow: 0 0 7px 0 rgb(44, 116, 184);
}

.btninicial button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

.btnColor {
    position: absolute;
    width: 116px;
    height: 100%;
    background: linear-gradient(to right, #84c4e4, #6bcf85);
    border-radius: 28px;
    transition: .3s;
}

input[type="email"], input[type="password"] {
    border: none;
    margin-top: 45px;
    border-radius: 60px;
    padding: 8px 0 8px 40px;
    outline: none;
    width: 100%;
}

button[type="submit"] {
    background: linear-gradient(to right, #84c4e4, #6bcf85);
    color: black;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 0 0 7px 0 rgb(44, 116, 184);
}

#signin {
    left: 25px;
}

#signin button {
    font-family: 'Montserrat';
    font-weight: 400;
}

#signin input {
    font-family: 'Montserrat';
}

#signup {
    left: 450px; 
}

#signup button {
    font-family: 'Montserrat';
    font-weight: 400;
}

#signup input {
    font-family: 'Montserrat';
}

form i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmail {
    top: 40px;
}

.iPassword {
    top: 115px;
}

.iPassword2 {
    top: 191px;
}

nav .fa-solid {
    color: white;
    align-items: center;
}

body.dark-mode {
    background-color: #252525;
    color: white;
}

body.dark-mode .nav-link {
    color: white;
}

.dark-mode .container {
    background-color: #dbdbdb;
}

.dark-mode input {
    background-color: #cbcaca;
}
